---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <main>
    <div class="flex flex-col w-full items-center pt-9">
      <Card
        title="Frequency Response of a Z-Transfer Function"
        slug="freq-response"
      />
    </div>
  </main>
</Layout>
