---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Canvas from "../components/Canvas.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Canvas client:load />
  </main>
</Layout>
