---
interface Props {
  title: string;
  slug: string;
}

const props = Astro.props;
---

<a href={"/" + props.slug}>
  <div
    class="w-96 bg-slate-900 hover:bg-opacity-60 rounded-2xl transition-opacity p-8 font-semibold font-large"
  >
    <h2>{props.title}</h2>
  </div>
</a>
