---
interface Props {
  title: string;
  slug: string;
}

const props = Astro.props;
---

<a href={"/" + props.slug}>
  <div
    class="w-96 bg-b-800 hover:bg-opacity-80 border-2 border-red-700 first-letter: hover:border-red-600 hover:shadow-2xl rounded-xl transition-opacity p-8 font-large"
  >
    <h2>{props.title}</h2>
  </div>
</a>
