---
import NavBar from "./NavBar.astro";
import "./base.css";
import { SEO } from "astro-seo";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <SEO
      title="Engineering Visualizations"
      description="
      A collection of visualizations and interactive graphics that I have created to help me understand engineering concepts.
      "
    />
    <script
      async
      defer
      src="https://analytics.umami.is/script.js"
      data-website-id="b9deac22-a275-4892-a107-46b606f50588"
    ></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script is:inline src="https://cdn.plot.ly/plotly-2.17.1.min.js"></script>

    <script
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"
    ></script>
    <title>{title}</title>
  </head>
  <body class="text-slate-200">
    <NavBar />
    <slot />
  </body>
</html>
