---
import NavBar from "./NavBar.astro";
// import base css
import "./base.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Some Visualtizations by Lakee Sivaraya" />
    <script
      async
      defer
      src="https://analytics.umami.is/script.js"
      data-website-id="b9deac22-a275-4892-a107-46b606f50588"
    ></script>
    <title>{title}</title>
  </head>
  <body class="bg-slate-800 text-slate-200">
    <NavBar />
    <slot />
  </body>
</html>
